.DS_Store
.idea/
__pycache__/
*.pyc
venv/
env/
*.log
*.sqlite3
*.egg-info/
dist/
build/
*.egg
*.pyo
*.swp
*.swo
*.bak
*.tmp
*.~*
*.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/
.ipynb_checkpoints/
.vscode/
*.iml
*.class
*.jar
*.war
*.ear
node_modules/
npm-debug.log
yarn-error.log
.env
.env.local
.env.*.local